#hero .parallax img {
  display: block;
}

nav a,
nav ul {
  margin-left: 10px;
  margin-right: 10px;
}

#promo.section {
  margin: 2% auto;
}

#promo i {
  vertical-align: bottom;
}

i {
  vertical-align: bottom;
}

/* NOTE: See materialize.css line 5606 for the original */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}

/* NOTE: See materialize.css line 5810 for the original */
.input-field .prefix.active {
  color: #FF4081;
}

/* NOTE: See materialize.css line 5620 for the original */
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #FF4081;
}

.card-action a {
  cursor: pointer;
}

@media (max-width: 1310px) {
  .card-title {
    font-size: 20px;
  }
}
